<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
    	<serverUrl url="http://services.arcgisonline.com"       
                   matchAll="true"/>
        <serverUrl url="http://home.com/arcgis/rest/services"       
                   matchAll="true"
                   hostRedirect="http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/SanFrancisco/311Incidents/FeatureServer/0"/>
        <serverUrl  url="http://sampleserver6.arcgisonline.com/arcgis/rest/services/SaveTheBay/FeatureServer/0"
                    username="user1"
                    password="user1"
                    matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
